<table width="750" align="center" class="table table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th>Contact name</th>
      <th>Phone number</th>
      <th colspan='3'>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% i=0 %>
    <% @phones.each do |phone| %>
    <% if can? :rud, phone %>
    <tr>
     <td><%= i += 1 %>.</td>
     <td><%= link_to phone.name, phone_path(phone) %></td>
     <td><%= phone.nomer %></td>
     <td><%= link_to 'edit', edit_phone_path(phone), :class => 'btn btn-default btn-xs'%></td>
     <td>
      <%= link_to 'delete', phone_path(phone),
     method: :delete, data: {confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %>
     </td>
   </tr>
   <% end %>
   <% end %>
 </tbody>
</table>
