<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Edit Phonebook</strong></div>
  <div class="panel-body">

      <%= form_for :phone, url: phone_path(@phone.id),method: :patch  do |f| %>

      <div class="row">
      	<div class="col-xs-6 col-sm-4">
          <%= f.label :contact_name %>
          <%=f.text_field :name, :class => 'form-control input-sm' %>
      	</div>

      	<div class="col-xs-6 col-sm-4">
          <%= f.label :phone_number %>
          <%=f.text_field :nomer, :class => 'form-control input-sm' %>
        	</div>

        	<div class="col-xs-6 col-sm-4">
        	<br \>
        	<button class="btn btn-primary btn-sm">save phone</button>
        	</div>
      </div>

      <% end %>

      <p></p>
      <br \>
      <ul class="pager">
        <li class="previous"><%= link_to '<< back', phones_path %></li>
      </ul>

  </div>
</div>