<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Add Phonebook</strong></div>
  <div class="panel-body">
    <%=flash[:notice]%><%=flash[:alert]%><%=flash[:message]%>
    <%= form_tag phones_path, :remote => "true" do %>
    <br \>
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <%= label_tag(:name_label, "Contact name") %>
            <%= text_field_tag "phone[name]", nil, class: 'form-control input-sm', placeholder: 'Enter contact name...' %>
            <%= hidden_field_tag 'phone[user_id]', current_user.id %>
        </div>
        <div class="col-xs-6 col-sm-4">
            <%= label_tag(:nomer_label, "Phone number") %>
            <%= text_field_tag "phone[nomer]", nil, class: 'form-control input-sm', placeholder: 'Enter phone number...' %>
        </div>
        <br \>
        <button class="btn btn-primary btn-sm">add phone</button>
    </div>
    <% end %>

    <br \>


    <div id="kontak_list"><%= render 'contacts' %></div>
</div>
</div>