<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Edit Phonelist</strong></div>
  <div class="panel-body">


      <%= form_for :phonelist, url: phone_phonelist_path(@phone.id, @phonelist.id),method: :patch  do |f| %>
      <div class="row">
      	<div class="col-xs-6 col-sm-4">
          <%= f.label :contact_name %>
          <%=f.text_field :namelist, :class => "form-control input-sm" %>
      	</div>

      	<div class="col-xs-6 col-sm-4">
          <%= f.label :phone_number %>
          <%=f.text_field :nomerlist, :class => "form-control input-sm"  %>
        	</div>

        	<div class="col-xs-6 col-sm-4">
          <br \>
          <button class="btn btn-primary btn-sm">save phonelist</button>
      	</div>
      </div>

      <% end %>

      <p></p>
      <br \>
      <ul class="pager">
        <li class="previous"><%= link_to '<< back', phone_path(@phone.id) %></li>
      </ul>

  </div>
</div>