<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Phonebook | Sign up</strong></div>
  <div class="panel-body">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :class => 'form-control', :placeholder => 'Enter your e-mail address...' %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password, :class => 'form-control', :placeholder => 'Enter your password...' %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Enter your password confirmation...' %></div>

      <br \>
      <div>
        <button class="btn btn-primary btn-sm">Sign Up</button>
        &nbsp;<%= render "devise/shared/links" %>
      </div>

    <% end %>

  </div>
</div>
