<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Phonebook | Sign In</strong></div>
  <div class="panel-body">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%=flash[:notice]%><%=flash[:alert]%><%=flash[:message]%>

      <div><%= f.label :email %><br />
      <%= f.text_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'Enter your e-mail address...' %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password, :class => 'form-control', :placeholder => 'Enter your password...' %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <br \>
      <div>
        <button class="btn btn-primary btn-sm">Sign In</button>
      </div>

    <% end %>

    <br \>
    <%= render "devise/shared/links" %>

  </div>
</div>
