<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Edit User Administration</strong></div>
  <div class="panel-body">

      <%= form_for :account, url: account_path(@account.id),method: :patch  do |f| %>

      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <%= f.label :user_email %>
          <%=f.text_field :email, :class => 'form-control input-sm', :disabled => true %>
        </div>

        <div class=  "col-xs-6 col-sm-4">
            <%= f.label :role %> <br \>
            <%= f.radio_button :role, "User", checked: @account.role == "User", class: 'multiple_classes' %> <%= f.label :label_role, "User"%>
            &nbsp;
            <%= f.radio_button :role, "Administrator", checked: @account.role == "Administrator", class: 'multiple_classes' %> <%= f.label :label_role, "Administrator"%>
        </div>

          <div class="col-xs-6 col-sm-4">
          <br \>
          <button class="btn btn-primary btn-sm">save administration</button>
          </div>
      </div>

      <% end %>

      <p></p>
      <br \>
      <ul class="pager">
        <li class="previous"><%= link_to '<< back', accounts_path %></li>
      </ul>

  </div>
</div>