<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>User Administration</strong></div>
  <div class="panel-body">
<table width="750" align="center" class="table table-striped">
  <thead>
    <tr>
      <th>No.</th>
      <th>User e-mail</th>
      <th>last_sign_in_at</th>
      <th>Role</th>
      <th colspan='3'>Actions</th>
    </tr>
  </thead>
  <tbody>

    <% @accounts.each_with_index do |account, idx| %>
    <tr>
     <td><%= idx+1 %>.</td>
     <td><%= account.email %></td>
     <td><%= account.last_sign_in_at %></td>
     <td><%= account.role %></td>
     <td><%= link_to 'edit', edit_account_path(account), :class => 'btn btn-default btn-xs'%></td>
     <td>
      <%= link_to 'delete', account_path(account),
     method: :delete, data: {confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %>
     </td>
   </tr>
   <% end %>
 </tbody>
</table>
</div>
</div>